<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bondex.ysl.videolibrary" >

    <application>

        <activity android:name=".VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user"
            android:theme="@style/FullscreenTheme"
            >

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>

        </activity>
        <service android:name=".services.MediaPlayerService"/>
    </application>


</manifest>
